 <div class="row">
	<div class="col s4 offset-s4">
	  <div class="card">
	    <div class="card-content black-text">
	      <span class="card-title">ثبت نام در سایت بنده</span>
	      <br>

	   <form name="myform" ng-submit="register()">
				<div class="input-field">
					<input id="email" type="email" name="email" required="true" 
					ng-model="useremail" ng-required="true">
					<label for="email">Email</label>
				</div>

				<div class="input-field">
					<input id="password" type="password" name="password" required="true" 
					ng-model="userpassword" ng-required="true">
					<label for="password">password</label>
				</div>

				<div class="card-action">
				<button class="btn waves-light waves-light blue darken-3" type="submit" name="submit"
				ng-disabled="myform.$invalid">ورود</button>
				<a class="right" href="#/register">ثبت نام</a>
				</div>
			</form>

	    </div>
	  </div>
	</div>
</div>